<!doctype html>

<html lang="nl">
    <head>
        <meta charset="UTF-8">

        <title>Alle producten</title>
        <meta name="description" content="Alle producten">
        <meta name="author" content="Olivier">

        <link rel="stylesheet" href="../../static/products/style.css">
    </head>

    <body>

        {% for product in product_list %}
            <div class="tg-wrap">
                <table class="tg">
                    <tr>
                        <th class="tg-yw4l" colspan="2">
                            <h1>{{ product.product_name }}</h1>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <div class="responsive-image">
                                <img src="{{ MEDIA_URL }}{{ product.image }}" alt="Image of {{ product.product_name }}">
                            </div>
                        </td>
                        <td class="text">
                            <p>{{ product.ingredients }}</p>
                        </td>
                    </tr>
                </table>
            </div>
        {% endfor %}
    </body>
</html>
